<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Update Task</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                 Back</a>
            </div>
          </div>
        </div>
        <form #taskForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Task Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" required
                  [(ngModel)]="editTaskForm.name" name="name" #name="ngModel">
                <div *ngIf="name.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!name.errors?.['required']">
                    Task Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="status" class="p-t-b-10">Task Status<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="status" required
                  [(ngModel)]="editTaskForm.status" name="status" #status="ngModel">
                <div *ngIf="status.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!status.errors?.['required']">
                    Task Status is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Due Date<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="dueDate" required
                  [(ngModel)]="editTaskForm.date" name="date" #date="ngModel">
                <div *ngIf="date.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!date.errors?.['required']">
                    Due Date is required
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Periority<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                
                <ng-select
                [items]="periorities"
                placeholder="Select Periority"
                [(ngModel)]="editTaskForm.periority"
                bindValue="id"
                bindLabel="name"
                [ngModelOptions]="{standalone: true}"
              >
              </ng-select>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Description<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="description" required
                  [(ngModel)]="editTaskForm.description" name="Description" #Description="ngModel">
                <div *ngIf="Description.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!Description.errors?.['required']">
                    Description is required
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="EditTask(taskForm.form.valid)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>