<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>View Task</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-lef'></i>  Back</a>
            </div>
          </div>
        </div>       
        <table class="table table-striped table-hover table-bordered table-conten">
          <tbody>
            <tr>
              <td><label><b>Task Name</b></label></td>
              <td><span>{{ taskDetail.name }}</span></td>
            </tr>
            <tr>
              <td><label><b>Task Status</b></label> </td>
              <td><span>{{ taskDetail.status }}</span></td>
            </tr>
            <tr>
              <td> <label><b>Due Date</b></label></td>
              <td> <span>{{ taskDetail.dueDateString }}</span></td>
            </tr>
            <tr>
              <td> <label><b>Task Periority</b></label></td>
              <td><span>{{ taskDetail.periorityName }}</span></td>
            </tr>
            <tr>
              <td> <label><b>Description</b></label></td>
              <td> <span>{{ taskDetail.description }}</span></td>
            </tr>
            <tr>
                <td> <label><b>Creation Time</b></label></td>
                <td> <span>{{ taskDetail.creationTime }}</span></td>
              </tr>
          </tbody>
        </table>       
      </div>
    </div>
  </div>